# Godot 4+ specific ignores
.godot/
/android/
images/icon.jpg.import
images/icon.jpg
images/godotwaka2.png.import
images/godotwaka2.png
images/godotwaka.png.import
images/godotwaka.png
addons/godot_super-wakatime/utils.gd.uid
addons/godot_super-wakatime/utils.gd
addons/godot_super-wakatime/README.md
addons/godot_super-wakatime/plugin.cfg
addons/godot_super-wakatime/LICENSE
addons/godot_super-wakatime/heartbeat.gd.uid
addons/godot_super-wakatime/heartbeat.gd
addons/godot_super-wakatime/godot_super-wakatime.gd.uid
addons/godot_super-wakatime/godot_super-wakatime.gd
addons/godot_super-wakatime/decompressor.gd.uid
addons/godot_super-wakatime/decompressor.gd
addons/godot_super-wakatime/counter.tscn
addons/godot_super-wakatime/api_key_prompt.tscn
addons/godot_super-wakatime/icon.jpg.import
addons/godot_super-wakatime/icon.jpg
addons/godot_super-wakatime/godotwaka2.png.import
addons/godot_super-wakatime/godotwaka2.png
addons/godot_super-wakatime/godotwaka.png.import
addons/godot_super-wakatime/godotwaka.png
addons/godot-git-plugin/win64/~libgit_plugin.windows.editor.x86_64.dll
addons/godot-git-plugin/win64/libgit_plugin.windows.editor.x86_64.lib
addons/godot-git-plugin/win64/libgit_plugin.windows.editor.x86_64.exp
addons/godot-git-plugin/win64/libgit_plugin.windows.editor.x86_64.dll
addons/godot-git-plugin/THIRDPARTY.md
addons/godot-git-plugin/plugin.cfg
addons/godot-git-plugin/macos/libgit_plugin.macos.editor.universal.dylib
addons/godot-git-plugin/linux/libgit_plugin.linux.editor.x86_64.so
addons/godot-git-plugin/LICENSE
addons/godot-git-plugin/git_plugin.gdextension.uid
addons/godot-git-plugin/git_plugin.gdextension
addons/Todo_Manager/ColourPicker.gd
addons/Todo_Manager/ColourPicker.gd.uid
addons/Todo_Manager/Current.gd
addons/Todo_Manager/Current.gd.uid
addons/Todo_Manager/doc/example.gd
addons/Todo_Manager/doc/example.gd.uid
addons/Todo_Manager/doc/images/example1.png
addons/Todo_Manager/doc/images/example1.png.import
addons/Todo_Manager/doc/images/example2.png
addons/Todo_Manager/doc/images/example2.png.import
addons/Todo_Manager/doc/images/Instruct1.png
addons/Todo_Manager/doc/images/Instruct1.png.import
addons/Todo_Manager/doc/images/Instruct2.png
addons/Todo_Manager/doc/images/Instruct2.png.import
addons/Todo_Manager/doc/images/Instruct3.png
addons/Todo_Manager/doc/images/Instruct3.png.import
addons/Todo_Manager/doc/images/Instruct4.png
addons/Todo_Manager/doc/images/Instruct4.png.import
addons/Todo_Manager/doc/images/Instruct5.png
addons/Todo_Manager/doc/images/Instruct5.png.import
addons/Todo_Manager/doc/images/TODO_Manager_Logo.png
addons/Todo_Manager/doc/images/TODO_Manager_Logo.png.import
addons/Todo_Manager/doc/images/TodoExternal.gif
addons/Todo_Manager/Dock.gd
addons/Todo_Manager/Dock.gd.uid
addons/Todo_Manager/Pattern.gd
addons/Todo_Manager/Pattern.gd.uid
addons/Todo_Manager/plugin.cfg
addons/Todo_Manager/plugin.gd
addons/Todo_Manager/plugin.gd.uid
addons/Todo_Manager/Project.gd
addons/Todo_Manager/Project.gd.uid
addons/Todo_Manager/todo_class.gd
addons/Todo_Manager/todo_class.gd.uid
addons/Todo_Manager/todoItem_class.gd
addons/Todo_Manager/todoItem_class.gd.uid
addons/Todo_Manager/UI/ColourPicker.tscn
addons/Todo_Manager/UI/Dock.tscn
addons/Todo_Manager/UI/Pattern.tscn
CONTRIBUTING.md
READMECN.md
